
body {
	background-image:url("debut_dark.png");
}
#titletext{
	text-align: center;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	font-size: 64px;
	color: #F0F0F0;
}
/* Navbar styling */
	/* make navbar */
		#navbar_div {
			width: 100%;
			text-align: center;
		}
		/* controls the style of the bar itself */
		#navbar ul {
			background: #000000;
			padding: 0px 0px;
			
			list-style: none;
			position: relative;
			display: inline-block;
			width: 100%;
			text-align: center;
			border-radius: 5px;
		}
		#navbar ul:after {
			content: "";
			clear: both;
			display: block;
		}
		#navbar ul li {
			padding: 0.5em 2em;
			display: inline-block;
		}
		#navbar ul li:hover {
			background: #1f1f1f;
		}
	/* navbar link style (visible) */
		#navbar ul li a {
			text-decoration: none;
		}
		#navbar ul li a:link {
			color: #A5A5A5;
		}
		#navbar ul li a:visited {
			color: #737373;
		}
		#navbar ul li:hover a{
			color: #f0f0f0;
		}
	/* navbar current page indicator style */
		#current_navbar_link {
			background: #202020;
		}
	/* navbar link style (dropdown) */
		#navbar ul ul li a:link {
			color: #A5A5A5;
		}
		#navbar ul ul li a:visited {
			color: #737373;
		}
		#navbar ul ul li:hover a{
			color: #f0f0f0;
		}
	/* implement dropdown menu */
		#navbar ul ul {
			width: auto;
			display: none;
			padding: 0;
			position: absolute;
			top: 100%;
			border-radius: 5px;
		}
		#navbar ul li:hover > ul {
			display: block;
		}
		#navbar ul ul li {
			float: none;
			position: relative;
		}
/* Text area */
#container {
	position: relative;
}

#content {
	color: #A5A3A3;
	margin-right: 10%;
	margin-left: 10%;
}
#content a:link {
	color: #1133EE;
}
#content a:visited {
	color: #A000FF;
}
#signature {
	font-size: 75%;
	position: absolute;
	bottom: 3%;
	right: 3%;
}